S 0.35 Vt NPa
S 0.3 NPp ViADV
S 0.2 NPa VPa
S 0.15 NPa VsTS
ViADV 1 Vi ADV
VsTS 1 Vs TS
TS 1 T S
VPa 0.33 Vt NPa
VPa 0.33 Vt NPp
VPa 0.34 VtNP PNPp
VtNP 0.5 Vt NPa
VtNP 0.5 Vt NPp
PNPp 1 P NPp
NPa 0.25 . John
NPa 0.25 . Mary
NPa 0.25 . the_man
NPa 0.5 . the_child
P 0.25 . with
P 0.25 . near
P 0.25 . in
P 0.25 . from
Vi 0.25 . appears
Vi 0.25 . is
Vi 0.25 . seems
Vi 0.25 . looks
Vs 0.25 . thinks
Vs 0.25 . hopes
Vs 0.25 . tells
Vs 0.25 . says
Vt 0.25 . knows
Vt 0.25 . likes
Vt 0.25 . misses
Vt 0.25 . sees
ADV 0.25 . large
ADV 0.25 . small
ADV 0.25 . ugly
ADV 0.25 . beautiful
NPp 0.25 . the_car
NPp 0.25 . the_city
NPp 0.25 . the_house
NPp 0.25 . the_shop
T 1 . that