S 0.2 NPa ViADV
S 0.1 NPp ViADV
S 0.3 NPa VPa
S 0.4 NPa VsTS
ViADV 1 Vi ADV
VsTS 1 Vs TS
TS 1 T S
VPa 0.2 Vt NPa
VPa 0.1 Vt NPp
VPa 0.7 VtNP PNPp
VtNP 0.4 Vt NPa
VtNP 0.6 Vt NPp
PNPp 1 P NPp
NPa 0.1 . John
NPa 0.1 . Mary
NPa 0.6 . the_man
NPa 0.2 . the_child
P 0.5 . with
P 0.2 . near
P 0.2 . in
P 0.1 . from
Vi 0.2 . appears
Vi 0.2 . is
Vi 0.2 . seems
Vi 0.4 . looks
Vs 0.3 . thinks
Vs 0.3 . hopes
Vs 0.3 . tells
Vs 0.1 . says
Vt 0.1 . knows
Vt 0.2 . likes
Vt 0.3 . misses
Vt 0.4 . sees
ADV 0.3 . large
ADV 0.3 . small
ADV 0.2 . ugly
ADV 0.2 . beautiful
NPp 0.7 . the_car
NPp 0.1 . the_city
NPp 0.1 . the_house
NPp 0.1 . the_shop
T 1 . that