S 0.1 S S
S 0.1 S A
S 0.1 A S
S 0.1 A A
A 0.1 S S
A 0.1 S A
A 0.1 A S
A 0.1 A A
S 0.1 . a
S 0.1 . b
S 0.1 . c
S 0.1 . d
S 0.1 . e
S 0.1 . f
A 0.1 . a
A 0.1 . b
A 0.1 . c
A 0.1 . d
A 0.1 . e
A 0.1 . f
