S 1 NP VP
NP 1 Det N
VP 1 V NP
VP 1 NP V
VP 1 V NPNP
NPNP 1 NP NP
VP 1 NPNP V
Det 1 . the
N 1 . the
V 1 . the
Det 1 . a
N 1 . a
V 1 . a
Det 1 . dog
N 1 . dog
V 1 . dog
Det 1 . man
N 1 . man
V 1 . man
Det 1 . bone
N 1 . bone
V 1 . bone
Det 1 . bites
N 1 . bites
V 1 . bites
Det 1 . gives
N 1 . gives
V 1 . gives
